name: Run Tests On PullRequest

on:
  schedule:
    - cron:  '25 4 * * 0' # At 04:25 on Sunday
  pull_request:
    branches: [ deploy-test, main ]

  # Allows us to call the workflow from another workflow
  workflow_call:    

jobs:
  call-test-workflow:
    uses: GNS-Science/nshm-github-actions/.github/workflows/python-run-tests.yml@main
    with:
      operating-systems: "['ubuntu-latest']"
      python-versions: "['3.12']"
      delete-poetry-lock: ${{ github.event_name == 'schedule' }} # the scheduled build tests against newer dependencies
      optional-dependency-groups: dev
    secrets: inherit
